.admin-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto
}

.admin-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-container header span {
    font-size: 20px;
    margin-left: 24px
}

.admin-container header img {
    height: 64px
}

.admin-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0
}

.admin-container h1 {
    margin-top: 80px;
    margin-bottom: 24px
}

.admin-container .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none
}

.admin-container .content a {
    width: 50%;
}

@media only screen and (max-width: 900px) {
    .admin-container .content {
        grid-template-columns: repeat(1, 1fr);
    }

    .admin-container .content .button {
        width: 100%;
    }
}